services:

  app:
    build: .
    depends_on:
      mysql:
        condition: service_healthy
      minio:
        condition: service_started
    ports:
      - "8080:8080"
    restart: always
    networks:
      - module2-network

  mysql:
    image: mysql:8.0.43
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=module_2_di_ioc
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - module2-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-uroot", "-psecret" ]
      interval: 5s
      retries: 5
      start_period: 10s

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - 9000:9000   # API
      - 9001:9001  # Web UI
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - ./data/minio:/data
    networks:
      - module2-network

volumes:
  mysql_data:

networks:
  module2-network:
    driver: bridge
